<h1>Breaches</h1>

<table matSort (matSortChange)="sortData($event)">
  <tr class="header">
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="pwnCount">PwnCount</th>
    <th mat-sort-header="breach_date">Breach date</th>
    <th mat-sort-header="domain">Domain</th>
    <th>Data Classes</th>
  </tr>

  <tr *ngFor="let breach of breaches">
    <td>{{ breach.Name }}</td>
    <td>{{ breach.PwnCount }}</td>
    <td>{{ breach.BreachDate }}</td>
    <td>{{ breach.Domain }}</td>
    <td>{{ breach.DataClasses }}</td>

  </tr>
</table>
