<h1>Breaches</h1>
<p>Below, a list of all breaches in the database are presented. You can sort the list by clicking on the respective
    column.
    <br>
    To read more about a breach, click on the corresponding row.
</p>
<mat-form-field appearance="standard">
  <mat-label>Filter result</mat-label>
  <input matInput (keyup)="onFilter($event)" placeholder="Search results" #input>
</mat-form-field>

<mat-table [dataSource]="breaches" matSort mat-table class="mat-elevation-z8">


    <ng-container matColumnDef="logo">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row"><img [src]="row.LogoPath" width="25px"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PwnCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Accounts </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.PwnCount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="BreachDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Breach Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.BreachDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Domain">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Domain </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Domain}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef> Categories </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{formatCategories(row.DataClasses) }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)">
    </mat-row>
</mat-table>


<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
